@import "tailwindcss";

body {
  background-color: #f5f6f7;
  font-family: "Onest Variable", sans-serif;
}

.p-datatable {
  border-radius: 10px;
  overflow: hidden;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #ffffff;
    border-color: #1756de;
    color: #1756de;
}